<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/gallery.css" rel="stylesheet">

  </head>

  <body>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="gallery-intro">
         <h2>welcome to my work!</h2>
         <p>This is more recent items in the branding field I have been involved with recently but I do have more. Until then, enjoy!</p>
         </div>

      </div>
      <!-- /.row -->


      <div class="row">

          <div class="col-md-3 col-sm-6 mb-4">
            <a href="1">
              <img class="img-fluid" src="/images/NL_Gesic.png" alt="">
            </a>
          </div>

          <div class="col-md-3 col-sm-6 mb-4">
            <a href="2">
              <img class="img-fluid" src="/images/base_site_portfolio.png" alt="">
            </a>
          </div>

          <div class="col-md-3 col-sm-6 mb-4">
            <a href="3">
              <img class="img-fluid" src="/images/dominion_ten_sign.png" alt="">
            </a>
          </div>

          <div class="col-md-3 col-sm-6 mb-4">
            <a href="4">
              <img class="img-fluid" src="/images/scooltor_bottle.png" alt="">
            </a>
          </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
