<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/gallery.css" rel="stylesheet">

  </head>

  <body>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="/images/base_site_portfolio.png" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
            <p><strong>Client:</strong> Base - Website</p>
          <p><strong>Goal:</strong> To introduce a product with a lifestyle attributed to the fitness industry</p>
          <p><strong>Strategy:</strong> Health and fitness go hand in hand, but supplements bridge both. This combination creates a lifestyle, and with a digital platform in social media and websites showing these lifestyle tips by interacting with their consumers. </p>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="1">
            <img class="img-fluid" src="/images/NL_Gesic.png" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="2">
            <img class="img-fluid" src="/images/base_site_portfolio.png" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="3">
            <img class="img-fluid" src="/images/dominion_ten_sign.png" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="4">
            <img class="img-fluid" src="/images/scooltor_bottle.png" alt="">
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
   

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
